@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 5%; /* #0C0C0C */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 0 0% 8%; /* #141414 */
    --card-foreground: 0 0% 100%; /* #FFFFFF */
    --popover: 0 0% 8%; /* #141414 */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */
    --primary: 0 0% 75%; /* #BFBFBF */
    --primary-foreground: 0 0% 5%; /* #0C0C0C */
    --secondary: 0 0% 8%; /* #141414 */
    --secondary-foreground: 0 0% 75%; /* #C0C0C0 */
    --muted: 0 0% 8%; /* #141414 */
    --muted-foreground: 0 0% 75%; /* #C0C0C0 */
    --accent: 43 40% 39%; /* #8C6E3D */
    --accent-foreground: 0 0% 98%; /* #FAFAFA */
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 16%; /* #2A2A2A */
    --input: 0 0% 16%; /* #2A2A2A */
    --ring: 43 40% 39%; /* #8C6E3D */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 0 0% 75%;
    --sidebar-primary: 43 40% 39%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 43 40% 39%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
