@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 5%; /* #0E0E0E */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 0 0% 11%; /* #1B1B1B */
    --card-foreground: 0 0% 100%; /* #FFFFFF */
    --popover: 0 0% 11%; /* #1B1B1B */
    --popover-foreground: 0 0% 100%; /* #FFFFFF */
    --primary: 0 0% 60%; /* #9A9A9A */
    --primary-foreground: 0 0% 5%; /* #0C0C0C */
    --secondary: 0 0% 10%; /* #191919 */
    --secondary-foreground: 0 0% 76%; /* #C2C2C2 */
    --muted: 0 0% 10%; /* #191919 */
    --muted-foreground: 0 0% 76%; /* #C2C2C2 */
    --accent: 44 39% 73%; /* #D5C4A1 */
    --accent-foreground: 0 0% 5%; /* #0C0C0C */
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 19%; /* #303030 */
    --input: 0 0% 19%; /* #303030 */
    --ring: 0 0% 60%; /* #9A9A9A */
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 5%;
    --sidebar-foreground: 0 0% 78%;
    --sidebar-primary: 44 54% 43%;
    --sidebar-primary-foreground: 0 0% 5%;
    --sidebar-accent: 0 0% 15%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 0 0% 16%;
    --sidebar-ring: 44 54% 43%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
